<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.UserMapper">
    <resultMap id="map" type="com.shopping.pojo.User">
        <id property="userId" column="user_id"></id>
        <result property="userName" column="user_name"></result>
        <result property="userPassword" column="user_password"></result>
    </resultMap>

    <!--增加-->
    <insert id="add">
        insert into `user`(user_id,user_name,user_password)
        values (#{user.userId},#{user.userName},#{user.userPassword})
    </insert>
    <!--删除-->
    <delete id="del">
        delete from `user` where user_id=#{uid};
    </delete>
    <!--修改-->
    <update id="update">
        update `user` set
          user_name=#{user1.userName},
          user_password=#{user1.userPassword}
        where user_id=#{user1.userId}
    </update>
    <!--查询-->
    <select id="findById" resultMap="map">
        select user_id,user_name,user_password
        from `user`
        where user_id=#{uid}
    </select>
    <!--查询全部-->
    <select id="findAll" resultMap="map">
        select * from `user`
    </select>
</mapper>